.NavigationBar {
    /* border: 2px red solid; */
    overflow: hidden;
    background-color: #172434;

    display: grid;
    gap:20px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: 'weCare title title . . . date day time';
    box-shadow: 4px 4px 9px -1px rgba(0,0,0,0.55);
}
  .NavigationBar a {
    float: left;
    color: #838D94;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 17px;
  }


.NavigationBar a.date {
    justify-self: left;
    align-self: left;
}

.active {
    grid-area: weCare;
}

.title{
    grid-area: title;
}

.date{
    grid-area: date;
}

.day{
    grid-area: day;
}

.time{
    grid-area: time;
}

