.CallGraph {
    /* border: 2px red solid; */
    background-color: #172434;
    box-shadow: 4px 4px 9px -1px rgba(0,0,0,0.55);
}

.titleContainer{
    display: flex;
    overflow: hidden;
    padding: 5px;
}

.titleContainer > * {
    margin: 5px;
    font-size: 0.5em;
    color: #838D94
}

#title{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 12px;
    color: #838D94;
}

#blue{
    background-color: aqua;
    height: 1em;
    width: 1em;
}

#green{
    background-color: greenyellow;
    height: 1em;
    width: 1em;
}

#orange{
    background-color: orange;
    height: 1em;
    width: 1em;
}

