/* general */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
  
  html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
  }
  
  body {
    background: #1A2B3F;
    margin: 0 0 0 20px;
    line-height: 1.4;
  }

  /* main */

.Dashboard {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
    grid-template-areas: 'nav nav nav nav nav nav nav nav nav'
    'leftSection leftSection leftSection midSection midSection midSection sideBar sideBar sideBar ';
}



.NavigationBar {
    grid-area: nav;
}

.Title {
    
}

.Calls {
    
}

.CallGraph {

}

.ServiceLevel {

}

.TalkInformations {

}

.SideBar {
    grid-area: sideBar;
}

.leftSection{
    grid-area: leftSection;
}

.midSection{
    grid-area: midSection;
    display: grid;
    gap: 10px;
}

@media only screen and (max-width: 768px){
  .Dashboard {
      display: flex;
      flex-direction: column;
  }

  .SideBar{
    margin-top: 10px;
    order: 1;
  }

  .midSection{
    margin-top: 10px;
    order: 2;
  }
  
  .leftSection{
    margin-top: 10px;
    order: 3;
  }

}

/* @media only screen and (max-width: 500px){
  .Dashboard {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "weCare title title title" "date . day time";
      gap: 5px;
      justify-items: center;
  }
  .date{
      margin-left: 10px;
  }
} */